
html,body,header,
.landing {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
    font-family:'Nunito', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

/* HOME PAGE */
.landing{
    background-image: url("./");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
}

/* styling navigation bar */
nav .navbar{
    width: 99%;
    padding-right: 0px;
}
.navbar-brand{
    margin-right: 30%;
    font-weight:1000;
}
.nav-item a{
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* HOME */
pi{color: rgb(99, 243, 86);}
.zz{color: rgb(224, 238, 30);}
.hub{color: rgb(252, 53, 26);}
.text a{
    font-size: 20px;
    font-weight: 700;
}
h1 {
    font-family: 'Kalam', cursive;
    letter-spacing: 8px;
    font-weight: bolder;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgb(230, 106, 5);
}

h2 {
  color: #f14603;
  font-family: 'Times New Roman', Times, serif;
  font-weight:600;
}
h5 {
    letter-spacing: 3px;
}
.text h5{
    font-size: 25px;
    padding: 20px;
}
#head{
    padding-top: 10%;
}
  /* button */
.btn{
    border-radius: 40px;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:green;
    background: black;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: green;
    letter-spacing: .1rem;
}
/* carousel card section */
.card-title{
    text-align: center;
    color: rgb(236, 58, 4);
    font-weight: 800;
}
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.controls-top h2{
    color: rgb(233, 130, 13);
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
}
/* ORDER */
#sample{
    padding-top: 30px;
}

#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}

#list {
    color: #000;
}

.pizz {
    color: lawngreen;
}

label{
    text-align: center;
    color: white;
}


