*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    
}
html{
    font-size: 70%;
    /* overflow-x: hidden; */
    /* scroll-padding-top: 5.5rem; */
    /* scroll-behavior: smooth; */
}
header{
    position: fixed;
    top:0; left: 0; right:0;
    background: green;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    color:black;
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color:black;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:white;
   
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:black;
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
}

/* HOME PAGE */
.home .container.box{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap; 
     gap:2rem;  
     padding-top: 9rem; 
}

.box{
    flex:1 1 45rem;
}

.home .container .box .image img{
    width: 50%;
    float: right;
}
.home .container .box .content span{
    color:var(--green);
    font-size: 5.5rem;
    
}

.home .container .box .content h3{
    color:var(--black);
    font-size: 7rem;
}

.home .container .box .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.4rem 0;
    line-height: 1.5;
}
